@import "../styles/mixins";

.Wrapper {
  width: 100vw;
}

.Content {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > img {
    max-width: 128px;
    margin-bottom: 24px;
  }

  h1 {
    font-size: 52px;
    line-height: 52px;
    margin-bottom: 32px;
  }
}

.Gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 24px;

  img {
    margin-bottom: 19px;
    margin-right: 18px;
    cursor: pointer;

    @include lgMaxBreakPoint {
      max-width: 80%;
      height: auto;
    }

    @include smMaxBreakPoint {
      margin-right: 0;
    }
  }
}
