@import "../styles/colors";
@import "../styles/mixins";
$height: 130px;

.NavWrapper {
  position: relative;
  width: 100vw;
  height: $height;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;

  @include customMaxBreakPoint(990) {
    height: 70px;
  }
}

.NavbarLogo {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 60;
  max-width: 300px;

  @include customMaxBreakPoint(990) {
    top: 50%;
    left: 5%;
  }

  img {
    width: auto;
    z-index: 60;

    @include customMaxBreakPoint(990) {
      height: 160px;
    }

    @include lgMaxBreakPoint {
      height: 148px;
    }

    @include mdMaxBreakPoint {
      height: 118px;
    }
  }
}

.Menu {
  margin-left: auto;
  max-width: 700px;
  height: $height;

  @include customMaxBreakPoint(990) {
    display: none;
  }

  ul {
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  li {
    display: inline-block;
    cursor: pointer;
  }

  p {
    text-transform: uppercase;
    font-family: "Poiret One" !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    cursor: pointer;
    color: $black;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:hover {
      text-shadow: 2px 1px 5px black;
    }
  }
}

.MenuMobile {
  @include customMinBreakPoint(991) {
    display: none;
  }
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;

  svg {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(-50%, -50%);
    font-size: 32px;
    z-index: 40;
    cursor: pointer;
  }

  .MenuMobileContent {
    @include customMinBreakPoint(991) {
      display: none;
    }
    position: absolute;
    top: 70px;
    width: 100vw;
    height: auto;
    background: #ffffff;
    box-shadow: 0px 30px 42px -32px rgba(0, 0, 0, 0.45);
    z-index: 0;
    padding: 62px 0;

    > ul {
      height: auto;
      width: 100%;
      list-style: none;
      display: grid;
      row-gap: 32px;
      > li {
        text-align: center;
        width: auto;

        p {
          text-transform: uppercase;
          font-family: "Poiret One" !important;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          line-height: 23px;
          cursor: pointer;
          color: $black;
          transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

          &:hover {
            text-shadow: 2px 1px 5px black;
          }
        }
      }
    }
  }
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.52, 1.275);
}
.slideOut {
  opacity: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
