.Wrapper {
  width: 100vw;
  min-height: 100vh;

  .Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1,
  h2,
  button {
    margin-top: 32px;
  }
  button {
    color: #fff;
    padding: 12px 28px;
    font-size: 1.4rem;
  }
}
